.header-bg {
  background: #000;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.navbar a {
  color: #fff;
  font-size: 1.125rem;
  padding: 16px 0px;
  position: relative;
}

.navbar a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.navbar a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .navbar {
    gap: 15px;
  }

  .navbar a {
    background-color: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .navbar a:hover {
    background-color: #2e2e2e;
  }

  .navbar a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .navbar a {
    font-size: 0.75rem;
    padding: 8px 12px;
  }
}
