.bicicleta-bg {
  background: var(--cor-11);
  color: var(--cor-0);
}

.bicicleta-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicleta-titulo {
  grid-column: 1/-1;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: auto 1fr;
}

.bicicleta-imagem {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicleta-imagem img {
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagem img:first-child {
  min-width: 100%;
}

.bicicleta-estoque {
  display: flex;
}

.bicicleta-informacoes {
  background-color: var(--cor-12);
  padding: 32px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.bicicleta-ficha {
  background-color: var(--cor-12);
  padding: 32px;
  border-radius: 4px;
}

.bicicleta-ficha li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.bicicleta-ficha li:not(:last-child) {
  margin-bottom: 12px;
  border-bottom: 1px solid var(--cor-11);
}
