.introducao-bg {
  background: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem 5.5rem;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 12.5rem;
}

.introducao-titulo {
  color: var(--cor-0);
  margin-bottom: 2rem;
}

.introducao-texto {
  color: var(--cor-5);
  margin-bottom: 1.25rem;
}

@media (max-width: 1200px) {
  .introducao-titulo {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: var(--cor-11);
    padding-top: 1.5rem;
    box-shadow: inset 0 -60px var(--cor-0);
  }

  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }

  .introducao-titulo {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .introducao-texto {
    font-size: 1.125rem;
  }
}
